<div class="layout-container position-relative">
  <button class="btn btn-dark menu-toggle " type="button" (click)="toggleSidebar()">
    <i class="fa-solid fa-bars"></i>
  </button>
  
  <div [ngClass]="{'sidebar': true,'d-none': !isSidebarVisible ,'d-md-block': true}">
    <nav class="sidebar-nav text-white bg-dark">
      <div class="title-container d-flex align-items-center mt-2">
        <img
          src="https://e7.pngegg.com/pngimages/112/789/png-clipart-personal-finance-expense-budget-mint-com-android-trademark-personal-finance-thumbnail.png"
          alt="User" width="32" height="32" class="rounded-circle me-2"/>
        <span class="title">Dashboard</span>
      </div>
      <hr />
      <!-- menu items -->
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="/record-list" routerLinkActive="active" class="nav-link text-white">
            <i class="bi bi-house-door-fill me-2"></i>Home</a
          >
        </li>
        <li>
          <a routerLink="/account" routerLinkActive="active" class="nav-link text-white">
            <i class="bi bi-wallet-fill me-2"></i>Account</a
          >
        </li>
        <li>
          <a routerLink="/category" routerLinkActive="active" class="nav-link text-white">
            <i class="bi bi-grid-fill me-2"></i>Category</a
          >
        </li>
        <li>
          <a routerLink="/budget" routerLinkActive="active" class="nav-link text-white">
            <i class="bi bi-grid-fill me-2"></i>Budget</a
          >
        </li>
        <li>
          <a routerLink="/analysis" routerLinkActive="active" class="nav-link text-white">
            <i class="bi bi-people-fill me-2"></i>Analysis</a
          >
        </li>
        <li>
          <a routerLink="/log-activity" routerLinkActive="active" class="nav-link text-white">
            <i class="bi bi-people-fill me-2"></i>Log Activity</a
          >
        </li>
      </ul>
      <hr />
    </nav>
  </div>
</div>
