.sidebar {
  width: 280px;
}

.sidebar-nav {
  width: 100%;
  max-width: 280px;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* Title container */
.title-container .title {
  font-size: 1.2rem;
  font-weight: 600;
}

/* Responsive Fix */
@media (max-width: 767.98px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1050;
    background-color: #343a40;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.d-none {
    transform: translateX(-100%);
  }

  .sidebar-nav {
    height: 100%;
    padding-top: 2rem;
  }
}

.layout-container {
  position: relative;
}

/* Menu Button */
.menu-toggle {
  position: absolute;
  top: 0.2rem;
  z-index: 1100;

}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .sidebar-nav .title-container {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .sidebar {
    position: relative;
    transform: none !important;
    height: 100vh;
  }
}
